<div class="board-wrapper" x-effect="renderBoardUntil(selectedMoveIndex)">
    <div class="scrabble-board">
        <template x-for="row in 15" :key="`row-${row}`">
            <template x-for="col in 15" :key="`col-${row}-${col}`">
                <div
                    class="scrabble-cell"
                    :class="tileClass(row - 1, col - 1)"
                    x-html="renderTile(15 - row, col - 1)"
                ></div>
            </template>
        </template>
    </div>
</div>
