<div class="pagination is-flex is-justify-content-center" style="gap: 0.5rem; margin-bottom: 1rem;">
    <button class="button" @click="previousPage"><< Poprzednia</button>
    <button class="button" @click="nextPage">Następna >></button>
</div>
