{% extends 'base.html.twig' %}

{% block title %}Zaloguj{% endblock %}

{% block body %}
    <section class="section">
        <div class="columns is-centered">
            <div class="column is-12-mobile is-8-tablet is-5-desktop">
                <h1 class="title is-3 text-center">Zaloguj</h1>

                {% if error %}
                    <article class="message is-danger">
                        <div class="message-body">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    </article>
                {% endif %}

                <form method="post" action="{{ path('app_login') }}" class="box">
                    <div class="field">
                        <label class="label" for="input-email">Email</label>
                        <div class="control">
                            <input
                                id="input-email"
                                class="input"
                                type="email"
                                name="email"
                                value="{{ last_username }}"
                                autocomplete="email"
                                required
                                autofocus
                            >
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="input-password">Haslo</label>
                        <div class="control">
                            <input
                                id="input-password"
                                class="input"
                                type="password"
                                name="password"
                                autocomplete="current-password"
                                required
                            >
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="field">
                        <div class="control">
                            <button class="button is-primary is-fullwidth" type="submit">Zaloguj</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
