{% extends 'static/stats/_base_stats.html.twig' %}

{% set activeStatsItem = null %}

{% block stats_content %}
    <section>
        <h1 class="title is-3">Statystyki</h1>
        <p>A może tutaj takie infoboxy z linkami i opisem dla każdej pozycji (zamiast menu bocznego)?</p>
    </section>
{% endblock %}
