{% extends 'static/stats/_base_stats.html.twig' %}

{% set activeStatsItem = 'all_times_results' %}

{% block stats_content %}
    <div x-data="allTimesResultsData()" x-init="fetchRows()">
        <h1 class="title is-3">Miejsca w turniejach</h1>

        <template x-if="loading">
            <p>Ładowanie...</p>
        </template>

        <template x-if="error">
            <article class="message is-danger">
                <div class="message-body" x-text="error"></div>
            </article>
        </template>

        <div x-show="!loading && !error">
            <div class="control mb-5">
                <input class="input" type="search" placeholder="Filtruj" @input="setSearch($event.target.value)">
            </div>
            <div style="overflow-x: auto;">
                <table class="table is-bordered is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th class="has-text-centered">#</th>
                        <th>Zawodnik</th>
                        <th class="has-text-centered">1.</th>
                        <th class="has-text-centered">2.</th>
                        <th class="has-text-centered">3.</th>
                        <th class="has-text-centered">4.</th>
                        <th class="has-text-centered">5.</th>
                        <th class="has-text-centered">6.</th>
                        <th class="has-text-centered">1-3.</th>
                        <th class="has-text-centered">1-6.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <template x-for="row in filteredRows" :key="row.playerId">
                        <tr>
                            <td class="has-text-centered" x-text="`${row.position}.`"></td>
                            <td><a :href="`/players/${row.playerId}`" x-text="row.playerName"></a></td>
                            <td class="has-text-centered" x-text="row.first"></td>
                            <td class="has-text-centered" x-text="row.second"></td>
                            <td class="has-text-centered" x-text="row.third"></td>
                            <td class="has-text-centered" x-text="row.fourth"></td>
                            <td class="has-text-centered" x-text="row.fifth"></td>
                            <td class="has-text-centered" x-text="row.sixth"></td>
                            <td class="has-text-centered" x-text="row.oneToThree"></td>
                            <td class="has-text-centered" x-text="row.oneToSix"></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function allTimesResultsData() {
            return {
                loading: true,
                error: '',
                search: '',
                rows: [],
                async fetchRows() {
                    try {
                        let response = await fetch('/api/stats/all-times-results');
                        if (!response.ok) {
                            throw new Error('Nie udało się pobrać danych statystyk');
                        }

                        let data = await response.json();
                        this.rows = data.rows;
                    } catch (error) {
                        console.error('Błąd:', error);
                        this.error = error.message;
                    } finally {
                        this.loading = false;
                    }
                },
                setSearch(search) {
                    this.search = search;
                },
                get filteredRows() {
                    if (this.search === '') {
                        return this.rows;
                    }

                    const normalizedSearch = this.search.toLowerCase();
                    return this.rows.filter((row) => {
                        return (row.playerName ?? '').toLowerCase().includes(normalizedSearch);
                    });
                }
            };
        }
    </script>
{% endblock %}
