{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns" style="margin-top: 32px;">
        <aside class="column is-3">
            {% include 'static/stats/_side_menu.html.twig' with {
                activeStatsItem: activeStatsItem|default(null)
            } %}
        </aside>

        <div class="column is-9">
            {% block stats_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
