<div class="control mb-5">
    {% block stats_search_fields %}
        <input class="input" type="search" placeholder="{{ search_placeholder|default('Filtruj') }}" @input="setSearch($event.target.value)">
    {% endblock %}
</div>
