<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Polska Federacja Scrabble - Statystyki{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.3/css/bulma.min.css"
          integrity="sha512-4EnjWdm80dyWrJ7rh/tlhNt6fJL52dSDSHNEqfdVmBLpJLPrRYnFa+Kn4ZZL+FRkDL5/7lAXuHylzJkpzkSM2A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    {% block stylesheets %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

    <style>
        .text-center {
            text-align: center;
        }
    </style>

    {% block javascripts %}
    {% endblock %}
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            Logo
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Ranking
            </a>

            <a href="/players" class="navbar-item">
                Zawodnicy
            </a>

            <a href="/tournaments" class="navbar-item">
                Turnieje
            </a>

            <a href="/stats" class="navbar-item">
                Statystyki
            </a>

            <a href="/clubs" class="navbar-item">
                Kluby
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="button is-light">
                            Wyloguj
                        </a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="button is-light">
                            Zaloguj
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>
