{% extends 'base.html.twig' %}

{% block body %}
    <div class="columns" style="margin-top: 32px;">
        <aside class="column is-3">
            {% include 'static/player/_side_menu.html.twig' with {
                playerId: playerId,
                activeMenuItem: activeMenuItem|default('profile')
            } %}
        </aside>

        <div class="column is-9">
            {% block player_profile_content %}{% endblock %}
        </div>
    </div>

    {% block player_profile_scripts %}{% endblock %}
{% endblock %}
