        .players-layout {
            margin-top: 2rem;
            width: 100%;
        }

        .players-content {
            width: 100%;
            max-width: 1160px;
            margin: 0 auto;
        }

        .player-box {
            height: 100%;
        }

        @media screen and (max-width: 768px) {
            .players-layout {
                margin-top: 1rem;
            }
        }