        .stats-layout {
            margin-top: 2rem;
            width: 100%;
        }

        @media screen and (max-width: 768px) {
            .stats-layout {
                margin-top: 1rem;
            }
        }