<style>
    .player-side-menu .menu-list a.is-active {
        background-color: #e8f1ff;
        color: #1f3f6f;
        font-weight: 600;
    }

    .player-side-menu .menu-list a.is-active:hover {
        background-color: #dce9ff;
        color: #1a355d;
    }
</style>
<div class="menu box player-side-menu">
    <p class="menu-label">Menu uzytkownika</p>
    <ul class="menu-list">
        <li>
            <a href="/user/profile" class="{{ activeMenuItem == 'profile' ? 'is-active' : '' }}">Profil</a>
        </li>
        <li>
            <a
                x-bind:href="profile && profile.publicPlayerId ? `/players/${profile.publicPlayerId}` : '#'"
                x-bind:class="{ 'has-text-grey-light': !profile || !profile.publicPlayerId }"
                x-bind:aria-disabled="!profile || !profile.publicPlayerId"
                x-on:click="if (!profile || !profile.publicPlayerId) { $event.preventDefault(); }"
                class="{{ activeMenuItem == 'games' ? 'is-active' : '' }}"
            >Twoje gry</a>
        </li>
    </ul>
</div>
